
body {
    background-color: #12171a;
}
div#board {
	position: relative;
	width: 1070px;
	height: 900px;
	margin: auto;
	background: url("images/board8.jpg") no-repeat;
}
div#messageArea {
	position: absolute;
	bottom: 55px;
	left: 240px;
	color: #2cbebe;
  font-family: monospace;
  font-size: 20px;
}
table {
	position: absolute;
	left: 240px;
	top: 150px;
	border-spacing: 0px;
	border: 1px solid rgba(256, 256, 256, .5);
}
table, tr, td {
	border: 1px solid rgba(256, 256, 256, .5);

}
td {
	width: 90px;
	height: 90px;
}
form {
	position: absolute;
	bottom: 55px;
	right: 170px;
	padding 10px;
	background-color: #2cbebe;
}
form input {
	background-color: #aff1f0;
	border-color: #2cbebe;
	font-size: 1em;
    width: 50px;
}
.hit {
	background: url("images/ship.png") no-repeat center center;
}
.miss {background: url("images/miss.png") no-repeat center center;
}